.logement-container {
    max-width: 1240px;
    margin: 0 auto;
}

.slidesShow-image-container {
    object-fit: cover;
    position: relative;
    margin: 20px auto 15px;
}

.slidesShow-image {
    width: 100%;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
    display: block
}

.vector-left {
    display: block;
    position: absolute;
    z-index: 10;
    top: 208px;
    left: 30px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.vector-right {
    display: block;
    position: absolute;
    z-index: 10;
    top: 208px;
    right: -20px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.vector-left-off {
    display: none;
}

.vector-right-off {
    display: none;
}

.number {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    left: 50%;
    top: 370px;
}

.infos-logement {
    display: flex;
    justify-content: space-between;
}

.logement-title {
    font-size: 36px;
    font-weight: 500;
    margin-top: 0px;
}

.host {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.logement-name {
    font-size: 18px;
    color: #FF6060;
    width: 93px;
    font-weight: 500;
    text-align: center;
    margin: 0;
}

.logement-location {
    color: #FF6060;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.logement-picture-host {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.tags-container {
    display: flex;
}

.tag-name {
    background-color: #FF6060;
    color: #fff;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px 10px;
    font-weight: 500;
}

.logement {
    width: 582px;
    margin: 0;
    margin-right: 20px;
}

.logement h3 {
    font-size: 18px;
    font-weight: 500;
    padding: 5px 0;
}

.logement p {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    padding: 0 10px 0 20px;
}

.logement li {
    line-height: 30px;
    font-weight: 400;
}

.logement-collapse-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

@media screen and (max-width: 1300px) {
    .logement-container {
        padding: 0 20px;
    }

    .logement {
        width: 500px;
    }
}

@media screen and (max-width: 1100px) {
    .container h2 {
        font-size: 18px;
        flex-wrap: wrap;
        white-space: normal;
    }

    .logement-collapse-container {
        justify-content: center;
    }
}

@media screen and (max-width: 750px) {
    .logement {
        justify-content: center;
    }

    .container {
        flex-direction: column;
    }

    .host-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
    }
}

@media screen and (max-width: 320px) {
    .tags-container {
        justify-content: center;
    }

    .host-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .host {
        margin: 15px 0 0 0;
    }

    .logement-title,
    .logement-location {
        text-align: center;
    }
}